.outerImageContainer{
    border: 2px solid var(--header-color);
    background-color: var(--background-color);
    border-radius : 10px;
    max-width: 25vw;
    margin-left: 35vw;
    margin-top: 25vh;
}

.imageContainer{
    margin: 30px;
    border-radius: 10px;
}

.submit-btn{
    background-color: var(--header-color);
}

