.outer-container{
    /* background-image: url('../../../assets/bg.png'); */
    background-image: url('../../assets/dark-background.jpg');
    border: 2px solid rebeccapurple;
    min-height: calc(100vh - 73px);
}