/* src/components/Login.css */

.outer-login-container{
  height: calc(100vh - 73px);
  border: 0.2rem solid rebeccapurple;
  background-image: url('../../assets/dark-background.jpg');
  display: flex;
  justify-content: center; /* Center the login container horizontally */
  align-items: center; /* Center the login container vertically */
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 22vw;
  background-color: var(--background-color);
  border: 0.2rem solid rgb(57, 44, 240);
  min-height: 60vh;
  border-radius: 20%;
}

.form-component{
  margin-top: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center form contents horizontally */
  width: 30rem;
}

input {
  margin: 1rem 0;
  padding: 1rem;
  font-size: 1.5rem;
  max-width: 25rem; /* Limit input width */
  box-sizing: border-box; /* Include padding in the width calculation */
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 1rem;
  cursor: pointer;
  min-width: 10rem;
  border: none;
  font-size: 1.5rem;
  border-radius: 4rem;
}

.forget{
  margin: 4vh 0;
  text-decoration: none;
  font-size: 1.5rem;
}

.inner-container{
  font-size: 1.5rem;
}

.link-signup{
  font-size: 1.5rem;
}

h2{
  font-family: "Poppins", sans-serif;
  color: black;
}

.loader {
  width: 2.4rem;
  height: 2.4rem;
  border: 0.5rem dotted #080808;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
