
.outer-edit-profile-container{
    background-image: url('../../assets/dark-background.jpg');
    border: 0.2rem solid rebeccapurple;
    min-height: calc(100vh - 7.7rem);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .edit-profile-container {
    max-width: 30rem;
    margin: 5rem auto;
    padding: 5rem;
    font-size: 2.5rem;
    border: 0.2rem solid blue;
    border-radius: 0.8rem;
    background-color: var(--background-color);
    border-radius: 2rem;
    position: relative; /* Add relative positioning */
    }
    
    .form-component{
      margin-top: 2rem;
    }
  
    form {
      display: flex;
      flex-direction: column;
      align-items: center; /* Center form contents horizontally */
      width: 30rem;
    }
    
    input {
      margin: 1rem 0;
      padding: 1rem;
      font-size: 1.5rem;
      max-width: 25rem; /* Limit input width */
      box-sizing: border-box; /* Include padding in the width calculation */
    }
    
    button {
      background-color: #007bff;
      color: #fff;
      padding: 1rem;
      cursor: pointer;
      border: none;
    }
  
    .forget{
      margin: 4vh 0;
      text-decoration: none;
    }
    
    h2{
      font-family: "Poppins", sans-serif;
      color: black;
    }