
.outer-outerImageContainer{
    background-image: url('../../../assets/dark-background.jpg');
    border: 2px solid rebeccapurple;
    min-height: calc(100vh - 77px);
}
.outerImageContainer{
    border: 2px solid var(--header-color);
    background-color: var(--background-color);
    border-radius : 10px;
    max-width: 25vw;
    margin-left: 35vw;
    margin-top: 25vh;
    background-image: url('../../assets/bg.png');
}

.imageContainer{
    margin: 30px;
    border-radius: 10px;
}

.submit-btn{
    background-color: green;
}

.extra-link{
    margin-top: 2vh;
}

.showProduct{
    text-decoration: none;
    font-weight: 1000;
    color: rgb(40, 26, 237);
}

