
.outer-otp-container{
  height: calc(100vh - 75px);
  /* border: 2px solid rebeccapurple; */
  background-image: url('../../assets/dark-background.jpg');
}

.otp-container{
  border: 1px solid rgb(175, 222, 248);
  min-height: 89.5vh;
}

.container {
    max-width: 25vw;
    padding: 20px;
    border: 1px solid #ccc;
    margin-left: 37vw;
    margin-top: 11vh;
    border-radius: 5px;
    text-align: center;
    background-color: var(--background-color);
    border-radius: 50px;
    border: 2px solid blue;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  p {
    margin-top: 15px;
    font-weight: bold;
  }

  h1{
    font-family: "Poppins", sans-serif;
    color: black;
  }
  
  .error {
    color: #f12121;
  }
  
  .success {
    color: #008000;
  }
  