@import '../../src/globalValues/globalVariables.css';

.navbar {
    background-color: var(--header-color);
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 0;
    background-color: rgb(55, 149, 237);
    justify-content: space-between; /* Align items to the start and end of the navbar */
    padding: 0 3rem; /* Add padding to the navbar */
  }
  
  .navbar ul {
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 3rem;
    font-size: 1.7rem; 
    color: white;
    align-items: center; /* Center items vertically in the navbar */
  }
  
  .navbar li {
    margin-right: 2rem;
  }

  .logout-list{
    font-size: 1.8rem;
  }

  .icon-container{
    font-size: 3.5rem;
  }

  .navbar a {
    /* color: white;  */
    text-decoration: none;
    font-size: 1.7rem; 
    color: white;

  }

  .logout-list{
    /* color: white; */
    cursor: pointer;
  }
  

  .navbar.dark-mode {
    background-color: #333; 
    color: #fff; 
  }
  
  .toggle-btn {
    cursor: pointer;
  }

  .right-header{
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  


