.outer-profile-container{
    /* background-image: url('../../../assets/bg.png'); */
    background-image: url('../../assets/dark-background.jpg');
    border: 2px solid rebeccapurple;
    min-height: calc(100vh - 77px);
}

.profile-container{
    max-width: 20vw;
    margin: 50px auto;
    padding: 50px;
    /* height: 400px; */
    /* background-color: aqua; */
    border: 2px solid blue;
    border-radius: 8px;
    background-color: var(--background-color);
    border-radius: 20px;
}
.profile-component{
    margin-top: 20px;
}

.profile-items{
    margin-top: 30px;
}

.profile-icon{
    margin-left: 18vw;
    background-color: var(--background-color);
}

.profile-icon:hover{
    background-color: rgb(13, 126, 233)
}