.main-outer-container{
  display: flex;
 
}

.outer-container{
  background-image: url('../../../assets/dark-background.jpg');
  /* border: 2px solid rebeccapurple; */
  min-height: calc(100vh - 70px);
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 10vh 10vw;
    
  }
  
  .product-card {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    background-color: var(--background-color);
    border-radius: 30px;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
  }

  
  .delete-Product:hover{
    background-color: rgb(5, 122, 53);
  }
  
  .Update-Product{
    margin-left: 4vh;
  }
  
  .Update-Product:hover{
    background-color: rgb(5, 122, 53);
  }

  .message{
    border: 2px solid black;
    margin: 30vh 30vw;
    padding: 10vh;
    border-radius: 10px;
    background-color: var(--background-color);
  }

  .message h3{
    align-items: center;
  }
  p{
    align-items: center;
  }

  .link{
    text-decoration: none;
    font-weight: 1000;
  }

  .my-right-container{
    /* border: 2px solid red; */
    /* position: fixed; */
    min-width: 12vw;
    max-height: 4vh;
    background-color: var(--background-color);
    display: 'flex';
    /* justify-content: center; */
    align-items: 'center';
    padding: 10px;
    border-radius: 10px;
  }

  .my-link-to-upload{
    color: white;
    font-weight: 900;
    display: flex;
    align-items: center;
    text-decoration: none; /* Remove underline from the link */
  }

  .my-link-to-upload:hover {
    color: blue; /* Change the color for hover state */
  }
  