

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 10vh 10vw;
    
  }
  
  .product-card {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    background-color: var(--background-color);
    border-radius: 30px;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
  }

  .message{
    border: 2px solid black;
    margin: 30vh 30vw;
    padding: 10vh;
    border-radius: 10px;
    background-color: var(--background-color);
  }

  .message h3{
    align-items: center;
  }
  p{
    align-items: center;
  }

  .link{
    text-decoration: none;
    font-weight: 1000;
  }
  